html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    border: 0 solid black;
    height: 0;
    display: none;
    /*inititalize everything equals to zero*/
    opacity: .75;
    filter: alpha(opacity=75);
    transition: all .25s;
    /*flicks on border fix*/
    box-shadow: 0 0 0 100px #000;
    overflow: hidden;
}

#cover:before {
    content: ' ';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 400px solid black;
    position: absolute;
    left: -400px;
    top: -400px;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, .75);
}

.target{
	width: 100px;

	border-radius: 50%;
	height: 100px;
	text-align: center;
	line-height:100px;
}

#target2, #target5{
	margin:0 auto;
	width: 200px;
}

#target3, #target6{
	float:right;
	line-height: 200px;
	height:200px;
}

body:after{
	display: table;
	content: ' ';
	clear:both;
}